<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="classes">
  <test thread-count="10" name="orderplacingwithCards.xml">
    <classes>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithAMEX"/>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithDiner"/>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithJCB"/>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithMAESTRO"/>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithMC"/>
     <!--  <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithPAYPAL"/> -->
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithVISA"/>
      <class name="com.test.Automation.orderplacingStuartWeitzman.orderplacingWithDISCOVER"/>
      
    </classes>
  </test> <!-- orderplacingwithCards.xml -->
</suite> <!-- Suite -->
