/bin/
/test-output/
/.settings/
/TestReports/
.classpath
.project
/reports/
/resources/drivers
/resources/config/ExcelObjectProperties.xls

Test_Console.hta
TestNG.xml
/FailedTestCase/
/core-selenium-framework/

#
# Project specific excludes
#
tomcat
#
# Default excludes
#
# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
*.jar
*.log
# Maven 
target/
# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/
# eclipse project file
.settings/
.classpath
.project
# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# OS
.DS_Store
# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
*.html
#Driver Files
resources/drivers/windows/chromedriver.exe
